{% extends "layouts/base.html" %}

{% block title %} Edit Templates {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='/jstree/dist/themes/default/style.min.css')}}" />
<link rel="stylesheet" href="./../../dist/themes/default/style.min.css" />
{% endblock stylesheets %}

{% block content %}
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='/jstree/dist/jstree.min.js')}}"></script>
	<style>
		.demo { overflow:auto; border:1px solid silver; min-height:100px; }
		.openBtn {
			display: flex;
			justify-content: left;
		}
		.openButton {
			border: none;
			border-radius: 5px;
			background-color: #1c87c9;
			color: white;
			padding: 14px 20px;
			cursor: pointer;
			position: fixed;
		}
		.newWorkflow {
			position: relative;
			text-align: center;
			width: 100%;
		}
		.formPopup {
			display: none;
			position: fixed;
			left: 45%;
			top: 5%;
			transform: translate(-50%, 5%);
			border: 3px solid #999999;
			z-index: 9;
		}
		.formContainer {
			max-width: 300px;
			padding: 20px;
			background-color: #fff;
		}
		.formContainer input[type=text],
		.formContainer input[type=text] {
			width: 100%;
			padding: 15px;
			margin: 5px 0 20px 0;
			border: none;
			background: #eee;
		}
		/*.formContainer input[type=text]:focus,*/
		.formContainer .btn {
			padding: 12px 20px;
			border: none;
			background-color: #8ebf42;
			color: #fff;
			cursor: pointer;
			width: 100%;
			margin-bottom: 15px;
			opacity: 0.8;
		}
		.formContainer .cancel {
			background-color: #cc0000;
		}
		.formContainer .btn:hover,
		.openButton:hover {
			opacity: 1;
		}
	</style>
<script>
	function openOutboundPopup(data) {
		var nodePath = "";
		var node = data.instance.get_node(data.selected[0]);
		if(node.icon == "jstree-ok") {
			var parentNode = data.instance.get_node(node.parent);
			var nodeText = node.text;

			var operationTypes = ["Rename", "New", "Delete", "Edit"];
			var nodeTypes = ["Folder", "Template"];
			for (operationType of operationTypes) {
				for (nodeType of nodeTypes) {
					var searchString = operationType + " " + nodeType;
					if(operationType != "New") {
						searchString += " \"";
					}
					if(nodeText.startsWith(searchString)) {
						var selectedOperationType = operationType;
						var selectedNodeType = nodeType;
						var nodePath = parentNode.text + "/" + nodeText.replace(searchString, "");
						if(operationType != "New") {
							nodePath = nodePath.slice(0, -1)
						}
					}
				}
			};

			var displayText = selectedOperationType + " " + selectedNodeType;
			var parentNodeDisplayText = "";
			if(selectedOperationType == 'Edit' || (selectedOperationType == 'Delete' && selectedNodeType == "Template")) {
				var folder = data.instance.get_node(parentNode.parent).text;
				displayText += " " + folder + "/" + parentNode.text
				document.getElementById("folder").value = folder;
				document.getElementById("template").value = parentNode.text;
			}
			else if(selectedNodeType == "Folder" && selectedOperationType != "New") {
				displayText += " " + parentNode.text;
				document.getElementById("folder").value = parentNode.text;
			}
			else if(selectedNodeType != "Folder" && selectedOperationType == "New") {
				parentNodeDisplayText = parentNode.text + "/...";
				document.getElementById("folder").value = parentNode.text
			}
			else if(selectedNodeType != "Folder") {
				displayText += " " + parentNode.text
				parentNodeDisplayText = data.instance.get_node(parentNode.parent).text + "/...";
				document.getElementById("folder").value = data.instance.get_node(parentNode.parent).text
				document.getElementById("template").value = parentNode.text;
			}

			if(selectedOperationType == 'Delete' || selectedOperationType == 'Edit') {
				document.getElementById("outboundPopupTextField").value = parentNode.text;
				// document.getElementById("outboundPopupTextField").disabled = true;
				document.getElementById("outboundPopupTextField").style.display = "none";
				document.getElementById("outboundPopupSubmitButton").innerHTML = "Confirm";
			}
			else {
				// document.getElementById("outboundPopupTextField").disabled = false;
				document.getElementById("outboundPopupTextField").style.display = "block";
				document.getElementById("outboundPopupSubmitButton").innerHTML = "Submit";
			}

			document.getElementById("nodeType").value = selectedNodeType;
			document.getElementById("operation").value = selectedOperationType;
			document.getElementById("outboundPopup").style.display = "block";
			document.getElementById("outboundPopupSubHeader").innerHTML = parentNodeDisplayText;
			document.getElementById("outboundPopupHeader").innerHTML = displayText;
		}
	};
	function closeOutboundPopup() {
		document.getElementById("outboundPopup").style.display = "none";
	};
	function formOperation(operationType, operationTarget, parentFolderName, templateName) {
		// if(operationType == "New") {

		// }
	};
    $(function() {
      $('a#popupSubmit').on('click', function(e) {
        e.preventDefault()
        $.postJSON('/background_process_test',
            function(data) {
          //do nothing
        });
        return false;
      });
    });
</script>
</head>
	<div class="content">
		<div class="page-inner">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Outbound {{ template_type_name }} Templates</h4>
						</div>
						<div class="card-body">
							<div id="evts" class="demo">
								<ul>
									{{outbound_tree_format_text | safe}}
								</ul>
							</div>

							<script>
								// interaction and events
								$('#evts_button').on("click", function () {
									var instance = $('#evts').jstree(true);
									instance.deselect_all();
									instance.select_node('1');
								});
								$('#evts')
									.on("changed.jstree", function (e, data) {
										if(data.selected.length) {
											openOutboundPopup(data)
											// openOutboundPopup(data.instance.get_node(data.instance.get_node(data.selected[0]).parent).text)
												// data.instance.get_node(data.selected[0]).text)
										}
									})
									.jstree({{ outbound_tree_format_code | safe }});
							</script>
							<!-- Begin Edit Files Forms -->
							<div class="outboundPopup">
								<div class="formPopup" id="outboundPopup">
									<form action="/builder_submit" class="formContainer" method="post">
										<h2 id="outboundPopupHeader"></h2>
										<label for="outboundPopupTextField">
											<strong id="outboundPopupSubHeader" style="color:black"></strong>
										</label>
										<input type="text" id="outboundPopupTextField" placeholder="" name="submitted_name" required>
										<input type="text" id="operation" placeholder="" name="operation" style="display:none" required>
										<input type="text" id="nodeType" placeholder="" name="node_type" style="display:none" required>
										<input type="text" id="folder" placeholder="" name="folder" style="display:none">
										<input type="text" id="template" placeholder="" name="template" style="display:none">
										<input type="text" id="template_type" name="template_type" style="display:none" value="{{ outbound_template_type }}">
										<button type="submit" class="btn" id="outboundPopupSubmitButton"></button>
										<button type="button" class="btn cancel" onclick="closeOutboundPopup()">Cancel</button>
									</form>
								</div>
							</div>
							<!-- End Edit Files Forms -->
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Inbound {{ template_type_name }} Templates</h4>
						</div>
						<div class="card-body">
							<p>TEST 2</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{{url_for('static', filename='/jstree/dist/jstree.min.js')}}"></script>

{% endblock javascripts %}
