{% extends "layouts/base.html" %}

{% block title %} Workflow Builder {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='/jstree/dist/themes/default/style.min.css')}}" />
{% endblock stylesheets %}

{% block content %}
<script>
	function cancelSubmission() {
		window.location.replace('/edit-templates');
	}
</script>
	<div class="content">
		<div class="page-inner">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Edit Templates</h4>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col">
									<form action="/template_submit" method="post" id="template-form">
										<label for="basic-url">Template Name</label>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon3">{{ folder_name }}/</span>
											</div>
											<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{ template_name }}" name='template_name'>
										</div>
										<label for="comment">Template</label>
										<textarea class="form-control" id="comment" rows="5" name="template_contents">{{ template_contents }}</textarea>
										<input type="text" id="template_id" name="template_id" style="display:none" value="{{ template_id }}">
										<input type="text" id="template_type" name="template_type" style="display:none" value="{{ template_type }}">
										<input type="text" id="template_type_name" name="template_type_name" style="display:none" value="{{ template_type_name }}">
										<button type="submit" class="btn btn-success">Submit</button>
										<button type="button" class="btn btn-danger" onclick="cancelSubmission()">Cancel</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
