{% extends "layouts/base.html" %}

{% block title %} Workflow Builder {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='/jstree/dist/themes/default/style.min.css')}}" />
{{ dropzone.load_css() }}
{% endblock stylesheets %}

{% block content %}
<body>
    <div class="content">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Recipient File Upload</h4>
                        </div>
                        <div class="card-body" style='background:rgb(255, 255, 255, .9);'>
                        	{{ dropzone.load_js() }}
                        	{{ dropzone.create(action='/file-upload') }}
                        	<script type="text/javascript">
						        Dropzone.options.myDropzone = {
						          init: function() {
						              
						            this.on("queuecomplete", function(file) {
						            // Called when all files in the queue finish uploading.
						            window.location = "/rm-file-upload-validation?upload_id={{ upload_id }}";
						            });  // redirect after queue complete
						                // upload queue when button click
						                // custom init code
						          },
						            // click upload options
						          uploadMultiple: false,
						          parallelUploads: 2,
						          paramName: "file", // The name that will be used to transfer the file
						          maxFilesize: 3, // MB
						          acceptedFiles: "image/*, audio/*, video/*, text/*, application/*",
						          maxFiles: null,
						          dictDefaultMessage: `Drop files here or click to upload.`, // message display on drop area
						          dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
						          dictInvalidFileType: "You can't upload files of this type.",
						          dictFileTooBig: "File is too big {{filesize}}. Max filesize: {{maxFilesize}}MiB.",
						          dictResponseError: "Server error: {{statusCode}}",
						          dictMaxFilesExceeded: "You can't upload any more files.",
						          dictCancelUpload: "Cancel upload",
						          dictRemoveFile: "Remove file",
						          dictCancelUploadConfirmation: "You really want to delete this file?",
						          dictUploadCanceled: "Upload canceled",
						          acceptedFiles: ".csv", maxFilesize: 500,  // custom options code
						        };
                        	</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
