{% extends "layouts/base.html" %}

{% block title %} Workflow Builder {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='/jstree/dist/themes/default/style.min.css')}}" />
{{ dropzone.load_css() }}
{% endblock stylesheets %}

{% block content %}
<body>
    <div class="content">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Recipient File Upload</h4>
                        </div>
                        <div class="card-body" style='background:rgb(255, 255, 255, .9);'>
                        	{{ dropzone.load_js() }}
                        	{{ dropzone.create(action='/file-upload') }}
                        	{{ dropzone.config(redirect_url='/rm-file-upload-validation', custom_options='acceptedFiles: ".csv", maxFilesize: 500') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
