{% extends "layouts/base.html" %}

{% block title %} Recipient File Upload {% endblock %} 

{% block stylesheets %}
<link href="/static/assets/css/toggle-switchy.css" rel="stylesheet" />
<style type="text/css">
	.subcontrolbox {
        text-align:center;
        background: rgba(153, 211, 247, .1);
        border-radius: 20px;
        padding:10px
    }
</style>
{% endblock stylesheets %}

{% block content %}
<body>
	<script>
		function constructTextDescription(id_checked, phone_checked, email_checked) {
			var match_wording, overwrite_desc, overwrite_fields;
			overwrite_fields = [];

			if (id_checked) {
				overwrite_fields.push("ID");
			}
			if (phone_checked) {
				overwrite_fields.push("Phone Number");
			}
			if (email_checked) {
				overwrite_fields.push("Email");
			}

			overwrite_desc = overwrite_fields.join(" and ");

			if (overwrite_fields.length === 0) {
				return 'Data will not be overwritten. If duplicate recipients exist in file, they will exist in the database.'
			}
			else if (overwrite_fields.length === 1) {
				match_wording = "matches";
			} else {
				match_wording = "match";
			}

			return `Rows will be overwritten if ${overwrite_desc} ${match_wording} an existing row.`;
		};
        function toggleSwitch(switch_id) {
            var id_checked = document.getElementById("toggle-id").checked;
            var phone_checked = document.getElementById("toggle-phone").checked;
            var email_checked = document.getElementById("toggle-email").checked;

            // Active switch needs to be inverted, because switching occurs after function fires
            if (switch_id === "toggle-id") {
            	id_checked = !id_checked
            };
            if (switch_id === "toggle-phone") {
            	phone_checked = !phone_checked
            };
            if (switch_id === "toggle-email") {
            	email_checked = !email_checked
            };
            document.getElementById("overwrite-summary").innerHTML = constructTextDescription(id_checked, phone_checked, email_checked);
            return false;
        };
    </script>
	<div class="content">
		<div class="page-inner">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">
								Overwrite Settings
							</h4>
						</div>
						<div class="card-body">
							<div class="row row-demo-grid">
								<div class="col">
									<div class="subcontrolbox">
										<label
							                class="toggle-switchy" for="toggle-id" data-size="sm" data-style="rounded" data-color="green"
							                data-text="false">
							                    <input type="checkbox" id="toggle-id">
							                    <span class="toggle" onclick="toggleSwitch('toggle-id')">
							                        <span class="switch"></span>
							                    </span>
							            </label>
							            <h3>ID</h3>
							        </div>
								</div>
								<div class="col">
									<div class="subcontrolbox">
										<label
							                class="toggle-switchy" for="toggle-phone" data-size="sm" data-style="rounded" data-color="green"
							                data-text="false">
							                    <input type="checkbox" id="toggle-phone">
							                    <span class="toggle" onclick="toggleSwitch('toggle-phone')">
							                        <span class="switch"></span>
							                    </span>
							            </label>
							            <h3>Phone Number</h3>
							        </div>
								</div>
								<div class="col">
									<div class="subcontrolbox">
										<label
							                class="toggle-switchy" for="toggle-email" data-size="sm" data-style="rounded" data-color="green"
							                data-text="false">
							                    <input type="checkbox" id="toggle-email">
							                    <span class="toggle" onclick="toggleSwitch('toggle-email')">
							                        <span class="switch"></span>
							                    </span>
							            </label>
							            <h3>Email Address</h3>
							        </div>
								</div>
							</div>
							<div>
								<br>
								<br>
								<p class="lead" id="overwrite-summary">
									Data will not be overwritten. If duplicate recipients exist in file, they will exist in the database.
								</p>
								<br>
								<br>
								<a href="#" class="btn btn-success">
					                Looks Good!<br>Upload File
					            </a>
					            <a href="/rm-file-upload-validation?upload_id={{ upload_id | safe}}" class="btn btn-danger">I Want to Make Changes.<br>Go Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
