{% extends "layouts/base.html" %}

{% block title %} Enable/Disable Workflows {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='/jstree/dist/themes/default/style.min.css')}}" />
<link href="/static/assets/css/toggle-switchy.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<body>
	<div class="content">
		<div class="page-inner">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Workflows</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								{{ workflows_table | safe }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script >
	$(document).ready(function() {
		$('#basic-datatables').DataTable({
		});

		$('#multi-filter-select').DataTable( {
			"pageLength": 5,
			initComplete: function () {
				this.api().columns().every( function () {
					var column = this;
					var select = $('<select class="form-control"><option value=""></option></select>')
					.appendTo( $(column.footer()).empty() )
					.on( 'change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
							$(this).val()
							);

						column
						.search( val ? '^'+val+'$' : '', true, false )
						.draw();
					} );

					column.data().unique().sort().each( function ( d, j ) {
						select.append( '<option value="'+d+'">'+d+'</option>' )
					} );
				} );
			}
		});
	});
	function toggleSwitch(workflow_id, toggle_switch_id) {
		var checked = document.getElementById(toggle_switch_id).checked
		var xhr = new XMLHttpRequest();
		xhr.open("POST", '/process_active_toggle', true);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.send(JSON.stringify({
		    'enabled': !checked,
		    'workflow_id': workflow_id
		}));
		return false;
	};
</script>

{% endblock javascripts %}
