{% extends "layouts/base.html" %}

{% block title %} Workflow Builder {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='/jstree/dist/themes/default/style.min.css')}}" />
<link href="/static/assets/css/toggle-switchy.css" rel="stylesheet" />
<style type="text/css">
    *{padding:0;margin:0;}

        body{
            font-family:Verdana, Geneva, sans-serif;
            font-size:18px;
            background-color:#CCC;
        }

    .subcontrolbox {
        text-align:center;
        background: rgba(153, 211, 247, .8);
        border-radius: 20px;
        padding:10px
    }

    .headerControlBox {
        text-align:center;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 100%;
        /*bottom:47%;*/
        right:0%;
        border-radius: 20px;
        padding:10px
    }
</style>
{% endblock stylesheets %}

{% block content %}
<body>
    <script>
        function toggleSwitch(workflow_id) {
            var checked = document.getElementById("example_colors_4").checked
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/process_active_toggle', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                'enabled': !checked,
                'workflow_id': workflow_id
            }));
            return false;
        }
        function addControls() {
            console.log('test');
            document.getElementById("header-additional-controls").innerHTML +=
            '<div class="headerControlBox">\
                <div name="demo" id="test" method="get" class="subcontrolbox">\
                    <input type="text" id="operation" value="toggle" name="operation" style="display:none" required>\
                    <span class="label" style="color:black;font-size:15px;">Enable Workflow<br></span>\
                    <label class="toggle-switchy" for="example_colors_4" data-size="sm" data-style="rounded" data-color="green" data-text="false">\
                            <input {{ enabled_toggle | safe }} type="checkbox" id="example_colors_4">\
                            <span class="toggle" onclick="toggleSwitch({{ workflow_id }})">\
                                <span class="switch"></span>\
                            </span>\
                    </label>\
                </div>\
                <br>\
                <a class="btn btn-danger" style="margin-left:auto;margin-bottom:10%;opacity:.9;" href="/wb-reload?workflow_id={{ workflow_id }}">\
                        Force Reload<br>App\
                </a>\
            </div>';
        }
        addControls();
    </script>
    <iframe id="builder-app" src="http://{{ app_server_address }}:{{ xpra_port }}" title="workflow-builder-app" style="width:100%;height:70%;"></iframe>
    <iframe src="http://{{ app_server_address }}:{{ info_panel_port }}" title="info-panel" style="width:100%;height:25%;opacity"></iframe>
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
